body  {
    text-align: center;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #565a5c;
    background-color: #f5f5f5;
}

h1 {
  font-size: 20px;

}

h2  {
  font-size: 12px;
}

.list-img li  {
  display: inline-block;
  color: white;
  line-height: 200px;
  width: 200px;
  height: 200px;
  background-size: cover;
}

.sf {
  background-image: url('../images/san-francisco.jpg');
}

.ny {
  background-image: url("../images/new-york.jpg");
}

.london {
  background-image: url("../images/london.jpg");
}

.napa {
  background-image: url("../images/napa.jpg");
}

.sonoma {
  background-image: url("../images/sonoma.jpg");
}

#sf2 {
  background-image: url('../images/san-francisco-2.jpg');
}

.btn  {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #565a5c;
  font-size: 15px;
  background-color: white;
  border: 1px solid #c4c4c4;
  padding: 10px 60px 10px 60px;
}
